@using System.Security.Cryptography
@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>
<pre>
1. Student Name : Sofia Janik
2. Student Number : 101573681
3. Course Code : COMP2139
4. Course Section : 8:00am
</pre>