<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - COMP2139_ICE - <a asp-area="" asp-controller="Home" asp-action="About">Sofia Janik</a>
    </div>
</footer>